<div class="px-4 md:px-16 pb-4 md:pt-0 pt-3 text-white w-full block md:flex flex-row items-end justify-between md:h-14 h-full bg-primary">
  <div class="block md:flex mb-5 md:mb-0 flex-row justify-center md:justify-start items-end">
    <img class="h-[22px] mb-4 md:mb-0 self-start mr-4" src="../../assets/img/logo-arthera-white.png" alt="arthera logo">
    <p class="text-[14px]/[14px]">
      © {{ currentYear }} Arthera Network 
      <a href="https://arthera.net/terms" class="underline" target="_blank">Terms of Service</a>
       | 
       <a href="https://arthera.net/policy" class="underline" target="_blank">Privacy Policy</a>
    </p>
  </div>
  <div class="block md:flex flex-row justify-center md:justify-center items-center">
    <p class="text-[14px]/[14px] text-white">
      A different future for Web3
      <!-- <p-button label="arthera.net" styleClass="p-button-link"></p-button> -->
      <a href="https://arthera.net" class="underline" target="_blank">arthera.net</a>
    </p>
  </div>
  <div class="block md:flex flex-row justify-center md:justify-end items-center">
    <p class="text-[14px]/[14px] text-white">
      Need help?
      <!-- <p-button label="arthera.net" styleClass="p-button-link"></p-button> -->
      <a href="https://arthera.net/support" class="underline" target="_blank">Contact support</a>
    </p>
  </div>
</div>