<!--<ngx-card-->
<!--        class="plugin-card"-->
<!--        appearance="flat"-->
<!--        [status]="chain.chainInfo != null && chain.chainInfo.status == 'OK' ? 'success' : 'error'"-->
<!--        [hideAccent]="true"-->
<!--        [selected]="this.isFocused"-->
<!--        (mouseenter)="this.isFocused = true"-->
<!--        (mouseleave)="this.isFocused = false"-->
<!--&gt;-->
<!--    <ngx-card-header [routerLink]="['/','chain']" >-->
<!--        <ngx-card-avatar src="assets/icons/icon-96x96.png"></ngx-card-avatar>-->
<!--        <ngx-card-title> Lethean Blockchain </ngx-card-title>-->
<!--        <ngx-card-subtitle>-->
<!--            <ngx-icon fontIcon="clock"></ngx-icon>-->
<!--            <span class="date-display" *ngIf="chain.chainInfo != null"> Started {{ chain.chainInfo.start_time * 1000 | amTimeAgo}} </span>-->
<!--        </ngx-card-subtitle>-->
<!--    </ngx-card-header>-->
<!--    &lt;!&ndash; status and bootstrap &ndash;&gt;-->
<!--    <ngx-card-section class="ngx-card-section&#45;&#45;description">-->
<!--        <ng-container *ngIf="chain.chainInfo == null  && downloadNeeded == true">-->
<!--            <p *ngIf="downloadStats.total ===0">Checking for files</p>-->
<!--            <ng-container *ngIf="downloadStats.total !==0">-->
<!--                <p>Downloading {{downloadStats.size | number}}: {{downloadStats.total | number}}</p>-->
<!--                <mat-progress-bar mode="determinate" color="accent" [value]="downloadStats.total/downloadStats.size*100" ></mat-progress-bar>-->
<!--            </ng-container>-->

<!--        </ng-container>-->
<!--        <ng-container *ngIf=" chain.chainInfo == null && downloadNeeded == false">-->
<!--            <p>Checking Chain Daemon</p>-->
<!--        </ng-container>-->
<!--        <ng-container *ngIf=" chain.chainInfo != null && downloadNeeded == false">-->
<!--            <ng-container *ngIf="chain.chainInfo.height < chain.chainInfo.target_height">-->
<!--                <p>{{ "app.lthn.chain.words.height" | translate}}: {{ chain.chainInfo.height }} </p>-->
<!--                <mat-progress-bar mode="determinate" color="accent" [value]="chain.chainInfo.height/chain.chainInfo.target_height*100" ></mat-progress-bar>-->
<!--                &nbsp;&nbsp;&nbsp;-->
<!--                <p>{{"app.lthn.chain.words.target" | translate}}: {{ chain.chainInfo.target_height }}</p>-->
<!--            </ng-container>-->

<!--            <ng-container *ngIf="chain.chainInfo.height >= chain.chainInfo.target_height">-->
<!--                <p>Chain is synced to height: {{ chain.chainInfo.height }} </p>-->
<!--            </ng-container>-->
<!--        </ng-container>-->


<!--    </ngx-card-section>-->
<!--    <ngx-card-section class="card-toggle">-->
<!--        <ngx-toggle [(ngModel)]="isSelected" label="Enable" (click)="$event.stopPropagation(); toggleStart()"></ngx-toggle>-->
<!--    </ngx-card-section>-->
<!--    <ngx-card-section class="card-action">-->
<!--        <ng-container *ngTemplateOutlet="viewDetailsTpl"></ng-container>-->
<!--        <div class="card-gutter"></div>&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--        <ng-container *ngTemplateOutlet="ellipsisTpl"></ng-container>-->
<!--    </ngx-card-section>-->
<!--</ngx-card>-->


<!--<ng-template #viewDetailsTpl>-->
<!--    <div class="view-details" (click)="$event.stopPropagation()">-->
<!--        <a (click)="openLink()">-->
<!--            <ngx-icon fontIcon="documentation"></ngx-icon>-->
<!--            <span> View Documentation </span>-->
<!--        </a>-->
<!--    </div>-->
<!--</ng-template>-->

<!--<ng-template #ellipsisTpl>-->
<!--    <ngx-dropdown showCaret class="ellipsis" (click)="$event.stopPropagation()">-->
<!--        <ngx-dropdown-toggle (click)="$event.stopPropagation()">-->
<!--            <ngx-icon fontIcon="dots-vert-round"></ngx-icon>-->
<!--        </ngx-dropdown-toggle>-->
<!--        <ngx-dropdown-menu class="ngx-dropdown-dark-outline align-right">-->
<!--            <ul class="vertical-list">-->
<!--                <li><button type="button" [routerLink]="['/', 'chain', 'config']">Config</button></li>-->
<!--                <li><button type="button" [routerLink]="['/', 'chain', 'console']">Console</button></li>-->
<!--                <li><button type="button" [routerLink]="['/', 'chain', 'import']">Import</button></li>-->
<!--                <li><button type="button" [routerLink]="['/', 'chain', 'export']">Export</button></li>-->
<!--            </ul>-->
<!--        </ngx-dropdown-menu>-->
<!--    </ngx-dropdown>-->
<!--</ng-template>-->
