<ng-container *ngIf="wallet.address">
<!--  <lthn-wallet-details *ngIf="wallet.address"></lthn-wallet-details>-->
</ng-container>

<div class="row">
  <div class="col-4">
    <p>Wallets</p>
<!--    <lthn-wallet-open></lthn-wallet-open>-->
  </div>
  <div class="col-8">
    <p>New Wallet</p>
<!--    <lthn-wallet-add></lthn-wallet-add>-->
  </div>
</div>

<ng-container *ngIf="wallet.address" #consoleTab>
<!--  <lthn-wallet-transactions></lthn-wallet-transactions>-->
</ng-container>
<ng-container *ngIf="wallet.address" #consoleTab>
  <!--    <h3>Balance: {{ wallet.balance.unlocked_balance | toCoin}}</h3>-->
  <!--    <h4 *ngIf="wallet.balance.unlocked_balance != wallet.balance.balance">Locked-->
  <!--        Balance: {{wallet.balance.balance - wallet.balance.unlocked_balance|toCoin}}</h4>-->
<!--  <lthn-wallet-transfer></lthn-wallet-transfer>-->
</ng-container>
