
<!--    <table class="table table-striped" *ngIf="chain.chainInfo as info">-->
<!--        <tbody>-->
<!--        <tr>-->
<!--            <td><p>{{ 'app.lthn.chain.words.status' | translate}}</p></td>-->
<!--            <td><p>{{ info.status }}</p></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><p>{{ 'app.lthn.chain.words.height' | translate}}</p></td>-->
<!--            <td><p>{{ info.height }}</p></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><p>Blocks Missing</p></td>-->
<!--            <td *ngIf="info.target_height > info.height"><p>{{ info.target_height - info.height}}</p></td>-->
<!--            <td *ngIf="info.target_height < info.height"><p>0</p></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--            <td><p>{{ 'app.lthn.chain.words.start_time' | translate}}</p></td>-->
<!--            <td><p>{{info.start_time * 1000 | amTimeAgo }}</p></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><p>{{ 'app.lthn.chain.words.target_height' | translate}}</p></td>-->
<!--            <td><p>{{info.target_height }}</p> </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><p>{{ 'app.lthn.chain.words.top_height' | translate}}</p></td>-->
<!--            <td><p><span [innerHTML]="info.top_block_hash | hashLink | keepHtml"></span></p></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><p>{{ 'app.lthn.chain.words.white_peerlist_size' | translate}}</p></td>-->
<!--            <td><p>{{info.white_peerlist_size }}</p></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><p>{{ 'app.lthn.chain.words.grey_peerlist_size' | translate}}</p></td>-->
<!--            <td><p>{{info.grey_peerlist_size }}</p></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><p>{{ 'app.lthn.chain.words.difficulty' | translate}}</p></td>-->
<!--            <td><p>{{info.difficulty | hashrate }}</p></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><p>{{ 'app.lthn.chain.words.cumulative_difficulty' | translate}}</p></td>-->
<!--            <td><p>{{info.cumulative_difficulty | hashrate }}</p></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><p>{{ 'app.lthn.chain.words.incoming_connections_count' | translate}}</p></td>-->
<!--            <td><p>{{info.incoming_connections_count }}</p></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><p>{{ 'app.lthn.chain.words.tx_count' | translate}}</p></td>-->
<!--            <td><p>{{info.tx_count }}</p></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><p>{{ 'app.lthn.chain.words.tx_pool_size' | translate}}</p></td>-->
<!--            <td><p>{{info.tx_pool_size }}</p></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><p>{{ 'app.lthn.chain.words.testnet' | translate}}</p></td>-->
<!--            <td><p>{{info.testnet }}</p></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><p>{{ 'app.lthn.chain.words.outgoing_connections_count' | translate}}</p></td>-->
<!--            <td><p>{{info.outgoing_connections_count }}</p></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><p>{{ 'app.lthn.chain.words.target' | translate}}</p></td>-->
<!--            <td><p>{{info.target }}</p></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><p>{{ 'app.lthn.chain.words.alt_blocks_count' | translate}}</p></td>-->
<!--            <td><p>{{info.alt_blocks_count }}</p></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><p>{{ 'app.lthn.chain.words.block_size_limit' | translate}}</p></td>-->
<!--            <td><p>{{info.block_size_limit }}</p></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
