<div *ngIf="wallet['balance']">

  <p>Wallet: {{wallet.address}}</p>
  <h3 *ngIf="wallet.balance">Balance: {{ wallet.balance.unlocked_balance | toCoin}}</h3>
  <h4 *ngIf="wallet.balance && wallet.balance.unlocked_balance != wallet.balance.balance">Locked
    Balance: {{wallet.balance.balance - wallet.balance.unlocked_balance|toCoin}}</h4>
  <div class="row">
    <div class="col-4" *ngIf="wallet.balance">
      <dt *ngIf="wallet.balance">Balance</dt>
      <dd *ngIf="wallet.balance">{{ wallet.balance.unlocked_balance | toCoin }}</dd>
      <dt>Available to spend</dt>
      <dd>{{ wallet.balance['unlocked_balance'] | toCoin }}</dd>
    </div>
    <div class="col-4">
      <dt>Transactions</dt>
      <dd>{{ transactions.length }}</dd>
    </div>
  </div>
</div>
