<ng-container *ngIf="rows.length > 0">
  <table class="table">
    <thead>
    <tr>
      <th>Type</th>
      <th>Height</th>
      <th>Unlocked Time</th>
      <th>Txid</th>
      <th>Amount</th>
      <th>Timestamp</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of rows">
<!--      <td>{{row['type']}}</td>-->
<!--      <td>{{row['height']}}</td>-->
<!--      <td>{{row['unlock_time']}}</td>-->
<!--      <td>{{row['txid']}}</td>-->
<!--      <td>{{row['amount'] | toCoin | number:'1.0-8'}}</td>-->
<!--      <td>{{row['timestamp'] | timeAgo}}</td>-->
    </tr>

    </tbody>
  </table>
</ng-container>
<ng-container *ngIf="rows.length < 1">
  <h2>You have no transactions, you need to send LTHN to your wallet</h2>
</ng-container>

