<!--<ngx-section >-->
<!--    <ng-container *ngIf="rows.length > 0">-->
<!--        <ngx-datatable-->
<!--                class="table"-->
<!--                [cssClasses]="'table'"-->
<!--                [rows]="rows"-->
<!--                [loadingIndicator]="true"-->
<!--                [columnMode]="ColumnMode.force"-->
<!--                [limit]="10"-->
<!--                [trackByProp]="'timestamp'"-->
<!--                [sorts]="[{ prop: 'timestamp', dir: 'desc' }]"-->
<!--        >-->
<!--            <ngx-datatable-column prop="type"></ngx-datatable-column>-->
<!--            <ngx-datatable-column name="Height"></ngx-datatable-column>-->
<!--            <ngx-datatable-column prop="unlock_time"></ngx-datatable-column>-->
<!--            <ngx-datatable-column name="Txid">-->
<!--            </ngx-datatable-column>-->
<!--            <ngx-datatable-column name="Amount">-->
<!--                <ng-template let-value="value" ngx-datatable-cell-template>-->
<!--                    {{ value | toCoin | number:'1.0-8'}}-->
<!--                </ng-template>-->
<!--            </ngx-datatable-column>-->
<!--            <ngx-datatable-column name="Timestamp">-->
<!--                <ng-template let-value="value" ngx-datatable-cell-template>-->
<!--                    {{ value | timeAgo }}-->
<!--                </ng-template>-->
<!--            </ngx-datatable-column>-->
<!--        </ngx-datatable>-->
<!--    </ng-container>-->
<!--    <ng-container *ngIf="rows.length < 1">-->
<!--        <h2>You have no transactions, you need to send LTHN to your wallet</h2>-->
<!--    </ng-container>-->
<!--</ngx-section>-->
