<div>
<!--    <p>{{ 'app.lthn.wallet.titles.new-wallet' | translate }}</p>-->

        <form autocomplete="off">

<!--            <input name="wallet-name" autocomplete="off"  [formControl]="wallet_name" type="text"-->
<!--                   [placeholder]="'app.lthn.wallet.label.filename' | translate"/>-->
<!--            <input id="wallet-password" autocomplete="new-password"  [formControl]="password" type="password"-->
<!--                   [placeholder]="'app.lthn.wallet.label.wallet-password' | translate"/>-->
<!--            <input id="wallet-password-confirm" autocomplete="off"  [formControl]="password_confirm" type="password"-->
<!--                   [placeholder]="'app.lthn.wallet.label.wallet-password-confirm' | translate"/>-->

<!--            <button  (click)="createWallet()">{{ 'app.lthn.wallet.button.create-wallet' | translate }}</button>-->
        </form>
</div>

