<form autocomplete="off">
  <div class="space-y-12">
    <div class="border-b border-gray-900/10 pb-12">
      <h2 class="text-base font-semibold leading-7 text-gray-900">Create Transaction</h2>
      <div class="sm:col-span-4">
        <label for="wallet-name" class="block text-sm font-medium leading-6 text-gray-900">Destination Address</label>
        <div class="mt-2">
          <input [ngModel]="transfer.destinations[0].address"
                 id="wallet-name" name="wallet-name" type="text" autocomplete="email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>
      <div class="sm:col-span-4">
        <label for="payment-id" class="block text-sm font-medium leading-6 text-gray-900">Payment ID</label>
        <div class="mt-2">
          <input [ngModel]="transfer.payment_id" id="payment-id" name="wallet-name" type="text" autocomplete="email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Mixins</label>
          <div class="mt-2">
            <input [ngModel]="transfer.mixin" type="text" name="password" id="password" autocomplete="new-password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="password-confirm" class="block text-sm font-medium leading-6 text-gray-900">Amount</label>
          <div class="mt-2">
            <input [ngModel]="transfer.destinations[0].amount" type="number" name="password-confirm" id="password-confirm" autocomplete="password-confirm" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
    <button (click)="sendTransfer()" type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">SEND</button>
  </div>
</form>


<!--    <ngx-select-->
<!--            [label]="'Mixins'"-->
<!--            style="max-width: 300px"-->
<!--            [filterable]="false"-->
<!--            [hint]="'Adjusts transaction privacy.'"-->
<!--            [ngModel]="[transfer.mixin.toString()]">-->
<!--        <ngx-select-option name="1" value="1"></ngx-select-option>-->
<!--        <ngx-select-option name="2" value="2"></ngx-select-option>-->
<!--        <ngx-select-option name="3" value="3"></ngx-select-option>-->
<!--        <ngx-select-option name="4" value="4"></ngx-select-option>-->
<!--        <ngx-select-option name="5" value="5"></ngx-select-option>-->
<!--        <ngx-select-option name="6" value="6"></ngx-select-option>-->
<!--        <ngx-select-option name="7" value="7"></ngx-select-option>-->
<!--        <ngx-select-option name="8" value="8"></ngx-select-option>-->
<!--        <ngx-select-option name="9" value="9"></ngx-select-option>-->
<!--        <ngx-select-option name="10" value="10"></ngx-select-option>-->
<!--        <ngx-select-option name="11" value="11"></ngx-select-option>-->
<!--        <ngx-select-option name="12" value="12"></ngx-select-option>-->
<!--    </ngx-select>-->

<!--    <ngx-select-->
<!--            [label]="'Unlock Time'"-->
<!--            style="max-width: 300px"-->
<!--            [filterable]="false"-->
<!--            [hint]="'Sets payment in x blocks.'"-->
<!--            [ngModel]="[transfer.unlock_time.toString()]">-->
<!--        <ngx-select-option name="0" value="0"></ngx-select-option>-->
<!--        <ngx-select-option name="1" value="1"></ngx-select-option>-->
<!--        <ngx-select-option name="2" value="2"></ngx-select-option>-->
<!--        <ngx-select-option name="3" value="3"></ngx-select-option>-->
<!--        <ngx-select-option name="4" value="4"></ngx-select-option>-->
<!--        <ngx-select-option name="5" value="5"></ngx-select-option>-->
<!--        <ngx-select-option name="6" value="6"></ngx-select-option>-->
<!--        <ngx-select-option name="7" value="7"></ngx-select-option>-->
<!--        <ngx-select-option name="8" value="8"></ngx-select-option>-->
<!--        <ngx-select-option name="9" value="9"></ngx-select-option>-->
<!--        <ngx-select-option name="10" value="10"></ngx-select-option>-->
<!--        <ngx-select-option name="11" value="11"></ngx-select-option>-->
<!--        <ngx-select-option name="12" value="12"></ngx-select-option>-->
<!--    </ngx-select>-->

<!--    <ngx-input-->
<!--            type="text"-->
<!--            [label]="'Amount'"-->
<!--            [autofocus]="false"-->
<!--            [ngModel]="transfer.destinations[0].amount"-->
<!--            [hint]="'Max Available ' + (wallet.balance.unlocked_balance | toCoin) "-->
<!--            (change)="transfer.destinations[0].amount = $event ">-->
<!--    </ngx-input>-->
<!--<h3>Press and hold to send the transaction</h3>-->
<!--    <ngx-long-press-button (longPress)="sendTransfer()" icon="upload-outline"></ngx-long-press-button>-->

<!--</ngx-section>-->
